<div class="subsection">
    <h3>{{ 'Address' | trans }}</h3>
    c/ Sant Antoni María Claret 320 entresuelo 4ª<br/>
	08041 Barcelona, España
</div>

<div class="subsection">
    <h3>{{ 'Email' | trans }}</h3>
    {{ frontend_helper.configuration.email | mailto | raw }}
</div>

<div class="subsection">
    <h3>{{ 'Telephone' | trans }}</h3>
    +34 935 323 700
</div>

<div class="subsection">
    <h3>{{ 'Fax' | trans }}</h3>
    +34 935 323 701
</div>
