{% extends "KailabFrontendBundle::layout.html.twig" %}
{% set blocks = 0 %}

{% block title %}
    {{ parent() }} - {{ 'Homepage' | trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/kailabfrontend/js/jquery-nivo_slider.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="http://widgets.twimg.com/j/2/widget.js" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/kailabfrontend/css/homepage.css'
        'bundles/kailabfrontend/css/screenshots.css'
        'bundles/kailabfrontend/css/nivo_slider.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="maincontent">
    {% if slides %}
    <div id="slider">
        {% for slide in slides %}
            {% if slide.url %}
            <a href="{{ slide.url }}">
            {% endif %}
            {% if slide.image.uri %}
            <img src="{{ slide.image.uri }}" alt="{{ slide.name }}"
            {% if slide.description %}title="#slidedescription_{{ slide.id }}" {% endif %} style="display: none"/>
            {% endif %}
            {% if slide.url %}
            </a>
            {% endif %}
        {% endfor %}
    </div>
    {% for slide in slides %}
    {% if slide.description %}
    <div id="slidedescription_{{ slide.id }}" class="slide_caption" style="display: none">
        {{ slide.description | raw }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

        <div class="block twitter">
            <div id="twitter_widget">
            </div>
        </div>
        


        {% if appli is defined and appli %}
        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><a href="{{ path('frontend_applications') }}" title="{{ 'Apps' | trans }}">
                <img src="{{ asset('bundles/kailabfrontend/images/apps_small.png') }}" alt="{{ 'Apps' | trans }}" />
            </a></h2>
            
            {% if appli.screenshot and appli.screenshot.image('small').uri %}
            {% if appli.screenshot.orientation == 'vertical' %}
            <div class="side">
            {% elseif appli.screenshot.orientation == 'horizontal' %}
            <div class="top">
            {% else %}
            <div>
            {% endif %}
                <a href="{{ path('frontend_application', {'slug':appli.slug}) }}">
                    <img src="{{ appli.screenshot.image('small').uri }}" alt="{{ appli.name }}" />
                </a>
            </div>
            {% endif %}

            <div class="main">
                <h3>{{ appli.name }}</h3>

                <div class="excerpt">
                {{ appli.excerpt | raw }}
                </div>
            </div>

            <div class="foot">
                <a href="{{ path('frontend_applications') }}" class="button">{{ 'See +' | trans }}</a>
            </div>
        </div>
        {% endif %}
        {% if game is defined and game %}
        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><a href="{{ path('frontend_videogames') }}" title="{{ 'Games' | trans }}">
                <img src="{{ asset('bundles/kailabfrontend/images/games_small.png') }}" alt="{{ 'Games' | trans }}" />
            </a></h2>

            {% if game.screenshot %}
            {% if game.screenshot.orientation == 'vertical' %}
            <div class="side">
            {% elseif game.screenshot.orientation == 'horizontal' %}
            <div class="top">
            {% else %}
            <div>
            {% endif %}
                <a href="{{ path('frontend_videogame', {'slug': game.slug }) }}" title="{{ game.name }}">
                    <img src="{{ game.screenshot.image('small').uri }}" alt="{{ game.name }}" />
                </a>
            </div>
            {% endif %}

            <div class="main">
                <h3>{{ game.name }}</h3>

                <div class="excerpt">
                {{ game.excerpt | raw }}
                </div>
            </div>

            <div class="foot">
                <a href="{{ path('frontend_videogames') }}" class="button">{{ 'See +' | trans }}</a>
            </div>
        </div>
        {% endif %}
        {% if post is defined and post %}
        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><a href="{{ path('frontend_blog') }}" title="{{ 'News' | trans }}">
                <img src="{{ asset('bundles/kailabfrontend/images/news_small.png') }}" alt="{{ 'News' | trans }}" />
            </a></h2>

            {% if post.image('small').uri %}
            <div class="side">
                <img src="{{ post.image('small').uri }}" alt="{{ post.title }}" />
            </div>
            {% endif %}

            <div class="main">
                <h3><a href="{{ path('frontend_blog_post',{'id':post.id}) }}">{{ post.title }}</a></h3>

                <div class="excerpt">
                {{ post.excerpt | raw }}
                </div>

            </div>

            <div class="foot">
                <a href="{{ path('frontend_blog') }}" class="button">{{ 'See +' | trans }}</a>
            </div>
        </div>
        {% endif %}

        {% if tech is defined and tech %}
        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><a href="{{ path('frontend_technologies') }}" title="{{ 'Technology' | trans }}">
                {{ 'Technology' | trans }}
            </a></h2>

            <div class="main">
            </div>
            <div class="foot">
                <a href="{{ path('frontend_blog') }}" class="button">{{ 'See +' | trans }}</a>
            </div>
        </div>
        {% endif %}

        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><a href="{{ path('frontend_about') }}" title="{{ 'About us' | trans }}">
                <img src="{{ asset('bundles/kailabfrontend/images/about_small.png') }}" alt="{{ 'About us' | trans }}" />
            </a></h2>

            <div class="main">
                <img src="{{ asset('bundles/kailabfrontend/images/witch.png') }}" alt="{{ 'A Witch character from a game we made.' | trans }}" style="float: left;"/>
                {{ 'We are a small game and mobile app development studio set in Barcelona, Spain.' | trans }}
            </div>
            <div class="foot">
                <a href="{{ path('frontend_about') }}" class="button">{{ 'See +' | trans }}</a>
            </div>
        </div>

        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><a href="{{ path('frontend_contact') }}" title="{{ 'Contact us' | trans }}">
                <img src="{{ asset('bundles/kailabfrontend/images/contact_small.png') }}" alt="{{ 'Contact us' | trans }}" />
            </a></h2>

            <div class="main">
                {% include 'KailabFrontendBundle:Default:_contact.html.twig' %}
            </div>
            <div class="foot">
                <a href="{{ path('frontend_contact') }}" class="button">{{ 'See +' | trans }}</a>
            </div>
        </div>

        {% set blocks = blocks + 1 %}
        <div class="block">
            <h2><img src="{{ asset('bundles/kailabfrontend/images/links_small.png') }}" alt="{{ 'Links' | trans }}" title="{{ 'Links' | trans }}" />
            </h2>
            <div class="main">
                {% include 'KailabFrontendBundle:Default:_links.html.twig' %}
            </div>
        </div>

        {% if blocks < 5 %}
        {% for i in range(blocks, 5) %}
        <div class="block">
        </div>
        {% endfor %}
        {% endif %}
   
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#slider').nivoSlider({
            pauseTime: 5000
        });
    });

    new TWTR.Widget({
      id: 'twitter_widget',
      version: 2,
      type: 'list',
      rpp: 30,
      interval: 6000,
      width: 205,
      height: 372,
      theme: {
        shell: {
          background: '#bdca10',
          color: '#ffffff'
        },
        tweets: {
          background: '#f8fae6',
          color: '#444444',
          links: '#a8b312'
        }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setList('{{ frontend_helper.configuration.twitter }}', 'kailab').start();

</script>


{% endblock %}
