<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Kailab Admin{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/kailabfrontend/favicon.ico') }}" />
        {% block javascripts %}
        {% javascripts 
            'bundles/kailabbackend/js/jquery.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/stfalcontinymce/vendor/tiny_mce/tiny_mce.js') }}" type="text/javascript"></script>
        {% endblock %}

        {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
            'bundles/kailabfrontend/css/layout.css'
            'bundles/kailabbackend/css/layout.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="body_wrapper">
            <div id="header_wrapper">
                <div id="header">
                <div id="logo">
                     <a href="{{ path('backend_homepage') }}">
                        <img src="{{ asset('bundles/kailabfrontend/images/logo.png') }}" alt="Kailab" title="Kailab"/>
                    </a>
                </div>
            </div>
            <div id="main_wrapper">
                <div id="sidebar">
                    <ul>
                        <li><a href="{{ path('backend_slide_list') }}">{{ 'Slides' | trans }}</a></li>
                        <li><a href="{{ path('backend_screenshot_list') }}">{{ 'Screenshots' | trans }}</a></li>
                        <li><a href="{{ path('backend_app_list') }}">{{ 'Appliactions' | trans }}</a></li>
                        <li><a href="{{ path('backend_tech_list') }}">{{ 'Technologies' | trans }}</a></li>
                        <li><div class="section">{{ 'Blog' | trans }}</div>
                            <ul>
                                <li><a href="{{ path('backend_blog_post_list') }}">{{ 'Posts' | trans }}</a></li>
                                <li><a href="{{ path('backend_blog_category_list') }}">{{ 'Categories' | trans }}</a></li>
                                <li><a href="{{ path('backend_blog_comment_list') }}">{{ 'Comments' | trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="main_with_sidebar">
                    <div id="main_gradient">
                        <div id="main">
                            <div id="main_inner">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer_wrapper">
                <div id="footer">
                </div>
            </div>
        </div>
        {{ tinymce_init() }}
    </body>
</html>


