{% extends "KailabFrontendBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'About us' | trans }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
    'bundles/kailabfrontend/css/about.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
{% endstylesheets %}
{% endblock %}


{% block content %}
<div class="maincontent">
    <div class="section team_member_left">
        <div class="side">
            <img src="{{ asset('bundles/kailabfrontend/images/team_antoni.png') }}" alt="Antoni Castejón"/>
        </div>
        <div class="bubble_tip">
        </div>
        <div class="bubble">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie bibendum orci vitae suscipit. Nulla facilisi. Aliquam nibh libero, ornare quis luctus non, dignissim nec arcu. Vestibulum et urna lacus. Vivamus id turpis eu augue mollis sollicitudin. Aenean eget lacus purus, in iaculis sapien. Sed placerat eleifend adipiscing. Morbi ut quam eros. In hac habitasse platea dictumst. Pellentesque nunc massa, blandit et sodales eget, porttitor quis neque. Aliquam tincidunt tristique massa eget venenatis. Nam condimentum massa a sapien pharetra eget blandit metus eleifend. Nam imperdiet purus vel dolor aliquam eu porta nulla porttitor. In vitae aliquet tellus. Pellentesque accumsan tincidunt diam sed placerat. 
        </div>
        <div class="links">
            <li><a href="http://twitter.com/#!/AiverPim">twitter</a></li>
            <li><a href="http://twitter.com/#!/AiverPim">web personal</a></li>
        </div>
    </div>

    <div class="section team_member_right">
        <div class="side">
            <img src="{{ asset('bundles/kailabfrontend/images/team_chris.png') }}" alt="Christopher Rey"/>
        </div>
        <div class="bubble_tip">
        </div>
        <div class="bubble">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie bibendum orci vitae suscipit. Nulla facilisi. Aliquam nibh libero, ornare quis luctus non, dignissim nec arcu. Vestibulum et urna lacus. Vivamus id turpis eu augue mollis sollicitudin. Aenean eget lacus purus, in iaculis sapien. Sed placerat eleifend adipiscing. Morbi ut quam eros. In hac habitasse platea dictumst. Pellentesque nunc massa, blandit et sodales eget, porttitor quis neque. Aliquam tincidunt tristique massa eget venenatis. Nam condimentum massa a sapien pharetra eget blandit metus eleifend. Nam imperdiet purus vel dolor aliquam eu porta nulla porttitor. In vitae aliquet tellus. Pellentesque accumsan tincidunt diam sed placerat. 
        </div>
    </div>

    <div class="section team_member_left">
        <div class="side">
            <img src="{{ asset('bundles/kailabfrontend/images/team_miguel2.png') }}" alt="Christopher Rey"/>
        </div>
        <div class="bubble_tip">
        </div>
        <div class="bubble">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie bibendum orci vitae suscipit. Nulla facilisi. Aliquam nibh libero, ornare quis luctus non, dignissim nec arcu. Vestibulum et urna lacus. Vivamus id turpis eu augue mollis sollicitudin. Aenean eget lacus purus, in iaculis sapien. Sed placerat eleifend adipiscing. Morbi ut quam eros. In hac habitasse platea dictumst. Pellentesque nunc massa, blandit et sodales eget, porttitor quis neque. Aliquam tincidunt tristique massa eget venenatis. Nam condimentum massa a sapien pharetra eget blandit metus eleifend. Nam imperdiet purus vel dolor aliquam eu porta nulla porttitor. In vitae aliquet tellus. Pellentesque accumsan tincidunt diam sed placerat. 
        </div>
    </div>

</div>
{% endblock %}
