{% extends "KailabBackendBundle::index.html.twig" %}

{% block content_title %}
{{ 'Blog Comments' | trans }}
{% endblock %}

{% block content_body %}
{% if entities %}

{% include 'KailabBackendBundle::_pagination.html.twig' with {'route': 'backend_blog_comment_list', 'pager': pager} %}

<table class="entity_list">
<thead>
<tr>
    <th>{{ 'Created' | trans }}</th>
    <th>{{ 'Author' | trans }}</th>
    <th>{{ 'Active' | trans }}</th>
    <th>{{ 'Post' | trans }}</th>
    <th>{{ 'Actions' | trans }}</th>
</tr>
</thead>
<tbody>
{% for comment in entities %}
<tr>
    <td>
        {{ comment.created | date('d/m/Y H:i:s') }}
    </td>
    <td>
        {{ comment.authorLink | raw }}
    </td>
    <td>
        <a href="{{ path('backend_blog_comment_toggle',{'id':comment.id}) }}">
            {{ comment.active ? 'Yes' : 'No' | trans }}
        </a>
    </td>
    <td>
        {{ comment.post.title }}
    </td>
    <td class="actions">
        <ul>
            <li><a href="{{ path('backend_blog_comment_edit',{'id':comment.id}) }}">{{ 'Edit' | trans }}</a></li>
            <li><a href="{{ path('backend_blog_comment_delete',{'id':comment.id}) }}">{{ 'Delete' | trans }}</a></li>
            <li><a href="{{ path('backend_blog_comment_toggle',{'id':comment.id}) }}">
                {% if comment.active %}{{ 'Deactivate' | trans }}{% else %}{{ 'Activate' | trans }}{% endif %}
            </a></li>
        </ul>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% include 'KailabBackendBundle::_pagination.html.twig' with {'route': 'backend_blog_comment_list', 'pager': pager} %}

{% else %}

<p>{{ 'No comments found.' | trans }}</p>

{% endif %}

<ul id="entity_list_actions">
    <li><a href="{{ path('backend_blog_comment_new') }}">{{ 'Add new Comment' | trans }}</a></li>
</ul>


{% endblock %}
