<div class="app {{ tech.orientation }}_orientation" {% if hidden is defined %}style="display: none;"{% endif %}>
    <a name="{{ tech.slug }}"></a>
    <div class="app_inner">
        {% if tech.orientation == 'horizontal' %}
        {% include 'KailabFrontendBundle:Technology:_info.html.twig' with {'tech':tech} %}
        {% endif %}
        {% if tech.screenshots.count %}
        <div class="side">
            <ul class="screenshots">
                {% for screenshot in tech.screenshots %}
                <li>
                    <a href="{{ path('frontend_screenshot_full', {'id':screenshot.id}) }}">
                        <img src="{{ path('frontend_screenshot_big', {'id':screenshot.id}) }}" alt="{{ tech.name }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% if tech.screenshots.count > 1 %}
            <div class="paginator">
                <div class="previous">
                </div>
                <div class="next">
                </div>
                <div class="nav">
                </div>
            </div>
            {% endif %}
        </div>
        <div class="main with_side">
        {% else %}
        <div class="main">
        {% endif %}
            <h2 class="title"><div class="left"><div class="right">
            <div class="inner">{{ tech.name }}</div></div></div></h2>
            {% if tech.orientation == 'vertical' %}
            {% include 'KailabFrontendBundle:Technology:_info.html.twig' with {'tech':tech} %}
            {% endif %}
            <div class="description">
                {% block description %}
                {{ tech.description | raw }}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
