{% extends "KailabFrontendBundle:Applications:index.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Technology' | trans }}
{% endblock %}

{% block content %}
{% set apps = techs %}
{{ parent() }}
{% endblock %}

{% block app_icon %}
    {% if app.image %}
    <img src="{{ path('frontend_technology_image',{'id':app.id}) }}" alt="{{ app.name }}"/>
    {% else %}
    <span class="app_item_title">{{ app.name }}</span>
    {% endif %}
{% endblock %}
 
