{% extends "KailabFrontendBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Blog' | trans }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts
    'bundles/kailabfrontend/js/jquery-beautyofcode.js'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

<script type="text/javascript">
$.beautyOfCode.init({
    brushes: ['Xml', 'Java', 'JScript', 'CSharp', 'Plain', 'Php', 'Css'],
    theme: 'Django'
});
$(document).ready(function(){
    $.beautyOfCode.beautifyAll();
});
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/kailabfrontend/css/blog.css'
        'bundles/kailabfrontend/css/paginator.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<h1><a href="{{ path('frontend_blog') }}">
    <img src="{{ asset('bundles/kailabfrontend/images/news_med.png') }}" alt="{{ 'News' | trans }}"/>
</a></h1>
<div class="maincontent">
    {% block blog %}
    <div id="blog" class="with_sidebar">
        {% set time_format = '%A, %e%v of %B' | trans %}
        {% if posts %}
        <div class="blog_posts">
            {% for post in posts %}
            <div class="blog_post">
                {% if post.image.state %}
                <div class="image">
                <img src="{{ post.image('big').uri }}" alt="{{ 'Blog post image' | trans }}"/>
                </div>
                {% endif %}
                <div class="body_with_image">
                    <div class="head">
                        <div>
                        <span class="create">{{ locale_helper.format_time(time_format, post.created) }}</span>
                        {% if post.category %}
                        <span class="category">{{ post.category.name }}</span>
                        {% endif %}
                        </div>
                        <h2 class="title">{{ post.title }}</h2>
                    </div>

                    <div class="excerpt">
                        {{ post.excerpt | raw}}
                    </div>
                    {% if post.hasExcerpt() %}
                    <a href="{{ path('frontend_blog_post',{'id':post.id}) }}">{{ 'Read more...' | trans }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'KailabFrontendBundle::_pagination.html.twig' with {'route': 'frontend_blog', 'pager': pager} %}
        {% else %}
        <p>{{ 'There are no blog posts at this moment.' | trans }}</p>
        {% endif %}
    </div>
    {% endblock %}
    <div id="sidebar">
        {% if categories %}
        <div class="section">
            <h2>{{ 'Categories' | trans }}</h2>
            <ul>
            {% for category in categories %}
            <li><a href="{{ path('frontend_blog_category',{'id':category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}
