{% extends "KailabFrontendBundle:Blog:index.html.twig" %}

{% block title %}
    {{ parent() }}  - {{ post.title }}
{% endblock %}

{% block blog %}
<div id="blog_post" class="blog_post">
    {% set time_format = '%A, %e of %B' | trans %}
    {% if post.image %}
    <div class="image">
    <img src="{{ path('frontend_blog_post_image', {'id':post.id}) }}" alt="{{ 'Blog post image' | trans }}"/>
    </div>
    <div class="body_with_image">
    {% else %}
    <div class="body">
    {% endif %}
        <div class="head">
            <h1 class="title">{{ post.title }}</h1>
            <span class="create">{{ locale_helper.format_time(time_format, post.created) }}</span>
            {% if post.category %}
            <span class="category">{{ post.category.name }}</span>
            {% endif %}
        </div>

        <div class="content">
            {{ post.content | raw}}
        </div>
    </div>

    <div class="comments">
        <h2>{{ 'Comments' | trans }}</h2>

        {% for comment in comments %}
        <div class="comment">
            <div class="avatar">
                <img src="http://www.gravatar.com/avatar/{{ comment.hash }}?s=80&r=g" alt="{{ comment.authorName }}"/>
            </div>
            <div class="info">
                {{ comment.authorLink | raw }}

                <span class="create">{{ locale_helper.format_time(time_format, comment.created) }}</span>
            </div>
            <div class="content">
                {{ comment.content }}
            </div>
        </div>
        {% endfor %}

        <h3>{{ 'Add new comment' | trans }}</h3>

        {% if app.session.hasFlash('error') %}
        <div id="flash_error">
        {{ app.session.flash('error') }}
        </div>
        {% endif %}

        {% if app.session.hasFlash('notice') %}
        <div id="flash_notice">
        {{ app.session.flash('notice') }}
        </div>
        {% endif %}

        <form class="comment_form" method="POST" action="{{ path('frontend_blog_post',{'id':post.id}) }}">
            <div class="form_row">
                {{ form_label(form.author_name) }}
                <div class="form_row_content">
                    {{ form_widget(form.author_name) }}
                </div>
                <div class="form_row_errors">
                    {{ form_errors(form.author_name) }}
                </div>
            </div>
            <div class="form_row">
                {{ form_label(form.author_email) }}
                <div class="form_row_content">
                    {{ form_widget(form.author_email) }}
                </div>
                <div class="form_row_errors">
                    {{ form_errors(form.author_email) }}
                </div>
            </div>
            <div class="form_row">
                <div class="form_row_content">
                    {{ form_widget(form.content,{'attr':{'cols':50,'rows':10}}) }}
                </div>
                <div class="form_row_errors">
                    {{ form_errors(form.content) }}
                </div>
            </div>

            {{ form_rest(form) }}
            <div class="form_submit_row">
                <input type="submit" value="{{ 'Add comment' | trans }}"/>
            </div>
        </form>

    </div>
</div>
{% endblock %}
