{% extends "KailabBackendBundle::form.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
    'bundles/kailabfrontend/css/screenshots.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/kailabbackend/js/jquery-ajax_upload.js'
        'bundles/kailabbackend/js/jquery-screenshots.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block form_title %}
{% if entity.id %}
{{ 'Editing App' | trans }}
{% else %}
{{ 'New App' | trans }}
{% endif %}
{% endblock %}

{% block form_translation %}
    {{ form_row(trans.name, {'attr':{'size':40}}) }}
    {{ form_row(trans.excerpt, {'attr':{'cols':40, 'rows':5}}) }}
    <div class="form_row">
    {{ form_widget(trans.description, {'attr':{'class':'tinymce','rows':10,'cols':50}}) }}
    </div>
    <div class="form_row links">
        <h3>{{ 'Links' | trans }}</h3>
        {% for link in trans.links %}
        {% if loop.last %}
        <script type="text/html" class="prototype">
        {% endif %}
        <div class="link_row">
            {{ form_errors(link) }}
            {{ form_widget(link.title,{'attr':{'size':30}}) }}
            {{ form_widget(link.url,{'attr':{'size':30}}) }}
        </div>
        {% if loop.last %}
        </script>
        {% endif %}
        {% endfor %}
    </div>
    {{ form_rest(trans) }}
{% endblock %}

{% block form_rest %}
{{ form_row(form.url, {'attr':{'size':40}}) }}
{{ form_row(form.slug, {'attr':{'size':40}}) }}
{{ form_row(form.type) }}
{{ form_row(form.related) }}
{{ form_row(form.platforms) }}
{{ form_row(form.technologies) }}

{{ form_widget(form.screenshots) }}

<script type="text/html" id="screenshots_template">
<div class="form_row">
    <h3>{{ 'Selected screenshots' | trans }}</h3>
    <ul class="selected_screenshots screenshots">
    </ul>
</div>
<div class="form_row">
    <h3>{{ 'Available screenshots' | trans }}</h3>
    <ul class="available_screenshots screenshots">
    </ul>
</div>
</script>

<script type="text/html" id="screenshot_template">
<li class="screenshot_wrapper">
    <img src="{{ path('frontend_screenshot_item',{'id':'__id__'}) }}" />
</li>
</script>

{{ parent() }}
{% endblock %}

{% block footer %}
{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){

    // screenshots
    $('#app_screenshots').screenshots({
    });

    // links
    $('.links').each(function(){
        var links = $(this);
        var prototype = links.find('.prototype').detach();
        var append_row = function(){
            var n = links.children().length;
            var html = prototype.html().replace(/\$\$name\$\$/g,n);
            links.append(html);
        };
        append_row();

        links.delegate('input','change',function(){
            var input = $(this);
            var row = input.closest('.link_row');
            var last = links.children().last();
            if(row.get(0) == last.get(0)){
                if(input.val()){
                    append_row();
                }
            }else{
                if(!input.val()){
                    row.remove();
                }
            }
        });
    });
});
</script>
{% endblock %}
