{% extends "KailabFrontendBundle:Applications:showcase.html.twig" %}

{% block subtitle %}
    {{ parent() }} - {{ 'Videogames' | trans }}
{% endblock %}

{% block empty %}
<p>{{ 'There are no videogames at this moment.' | trans }}</p>
{% endblock %}

{% block loading %}
<p>{{ 'Loading videogames...' | trans }}</p>
{% endblock %}

{% block more %}
<a class="more_apps" href="{{ path('frontend_applications') }}">
    <img src="{{ asset('bundles/kailabfrontend/images/more.png') }}" />
    {{ 'See all videogames' | trans }}
</a>
{% endblock %}
