{% extends "KailabFrontendBundle:Blog:index.html.twig" %}

{% block title %}
    {{ parent() }}  - {{ post.title }}
{% endblock %}

{% block blog %}
<div id="blog_post" class="blog_post">
    {% set time_format = '%A, %e%v of %B' | trans %}
    {% if post.image('big').uri %}
    <div class="image">
    <img src="{{ post.image('big').uri }}" alt="{{ 'Blog post image' | trans }}"/>
    </div>
    {% endif %}
    <div class="body_with_image">
        <div class="head">
            <div>
                <span class="create">{{ locale_helper.format_time(time_format, post.created) }}</span>
                {% if post.category %}
                <span class="category">{{ post.category.name }}</span>
                {% endif %}
            </div>
            <h1 class="title">{{ post.title }}</h1>
        </div>

        <div class="content">
            {{ post.content | raw}}
        </div>
    </div>

    <div class="comments">
        <h2>{{ 'Comments' | trans }}</h2>

        {% for comment in comments %}
        <div class="comment">
            <div class="avatar">
                <img src="http://www.gravatar.com/avatar/{{ comment.hash }}?s=40&r=g" alt="{{ comment.authorName }}"/>
            </div>
            <div class="info">
                {{ comment.authorLink | raw }}

                <span class="create">{{ locale_helper.format_time(time_format, comment.created) }}</span>
            </div>
            <div class="content">
                {{ comment.content }}
            </div>
        </div>
        {% endfor %}

        <h3>{{ 'Add new comment' | trans }}</h3>

        {% if app.session.hasFlash('error') %}
        <div id="flash_error">
        {{ app.session.flash('error') }}
        </div>
        {% endif %}

        {% if app.session.hasFlash('notice') %}
        <div id="flash_notice">
        {{ app.session.flash('notice') }}
        </div>
        {% endif %}

        <form class="comment_form" method="POST" action="{{ path('frontend_blog_post',{'id':post.id}) }}">
            <div class="form_row">
                <div class="form_row_content">
                    {{ form_widget(form.author_name) }}
                </div>
            </div>
            <div class="form_row_errors">
                {{ form_errors(form.author_name) }}
            </div>
            <div class="form_row">
                <div class="form_row_content">
                    {{ form_widget(form.author_email) }}
                </div>
            </div>
            <div class="form_row_errors">
                {{ form_errors(form.author_email) }}
            </div>
            <div class="form_row">
                <div class="form_row_content">
                    {{ form_widget(form.content,{'attr':{'cols':50,'rows':10}}) }}
                </div>
            </div>
            <div class="form_row_errors">
                {{ form_errors(form.content) }}
            </div>

            {{ form_rest(form) }}
            <div class="form_submit_row">
                <input type="submit" value="{{ 'Add comment' | trans }}"/>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){

    var input_tooltip = function(text){
        var input = $(this).data('empty',true);

		var on_focus = function(){
            if(input.data('empty')){
                input.val('');
                input.removeClass('tooltip');
                return false;
            }
        };

        var on_blur = function(){
            if(input.data('empty')){
                input.val(text);
                input.addClass('tooltip');
            }
        };

        var on_change = function(){
            input.data('empty', input.val().length == 0);
        };
        
        input.focus(on_focus).blur(on_blur)
        	.change(on_change).change().blur();
    	input.closest('form').submit(on_focus);
    };

    input_tooltip.call($('#comment_author_name'), {{ 'Your Name' | trans | json_encode | raw }});
    input_tooltip.call($('#comment_author_email'), {{ 'Your Email Address' | trans | json_encode | raw }});
});
</script>

{% endblock %}
