{% extends "KailabBackendBundle::index.html.twig" %}

{% block content_title %}
{{ 'Homepage Slides' | trans }}
{% endblock %}

{% block content_body %}
{% if entities %}

{% include 'KailabBackendBundle::_pagination.html.twig' with {'route': 'backend_slide_index', 'pager': pager} %}

<table class="entity_list">
<thead>
<tr>
    <th>{{ 'Name' | trans }}</th>
    <th>{{ 'Updated' | trans }}</th>
    <th>{{ 'Position' | trans }}</th>
    <th>{{ 'Active' | trans }}</th>
    <th>{{ 'Actions' | trans }}</th>
</tr>
</thead>
<tbody>
{% for slide in entities %}
<tr>
    <td>
        {{ slide.name }}
    </td>
    <td>
        {{ slide.updated.format('d/m/Y H:i:s') }}
    </td>
    <td>
        {{ slide.position }}
    </td>
    <td>
        <a href="{{ path('backend_slide_toggle',{'id':slide.id}) }}">
            {{ slide.active ? 'Yes' : 'No' | trans }}
        </a>
    </td>
    <td class="actions">
        <ul>
            <li><a href="{{ path('backend_slide_edit',{'id':slide.id}) }}">{{ 'Edit' | trans }}</a></li>
            <li><a href="{{ path('backend_slide_delete',{'id':slide.id}) }}">{{ 'Delete' | trans }}</a></li>
            <li><a href="{{ path('backend_slide_up',{'id':slide.id}) }}">{{ 'Up' | trans }}</a></li>
            <li><a href="{{ path('backend_slide_down',{'id':slide.id}) }}">{{ 'Down' | trans }}</a></li>
        </ul>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% include 'KailabBackendBundle::_pagination.html.twig' with {'route': 'backend_slide_index', 'pager': pager} %}

{% else %}

<p>{{ 'No slides found.' | trans }}</p>

{% endif %}

<ul id="entity_list_actions">
    <li><a href="{{ path('backend_slide_new') }}">{{ 'Add new slide' | trans }}</a></li>
</ul>

{% endblock %}
