<div class="info">
    {% if application.related.count %}
    <div class="section">
    <h3>{{ 'Related projects' | trans }}</h3>
    <ul>
    {% for related in application.related %}
        {% if related.type == 'app' %}
        <li><a href="{{ path('frontend_application', {'slug':related.slug}) }}">{{ related.name }}</a></li>
        {% elseif related.type == 'game' %}
        <li><a href="{{ path('frontend_videogame', {'slug':related.slug}) }}">{{ related.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if application.platforms.count %}
    <div class="section">
    <h3>{{ 'Platforms' | trans }}</h3>
    <ul>
    {% for platform in application.platforms %}
        <li><img src="{{ path('frontend_platform_icon', {'id':platform.id}) }}"/>{{ platform.name }}</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if application.technologies.count %}
    <div class="section">
    <h3>{{ 'Technologies' | trans }}</h3>
    <ul>
    {% for technology in application.technologies %}
        <li><a href="{{ path('frontend_technology', {'slug':technology.slug}) }}">
            <img src="{{ path('frontend_technology_icon', {'id':technology.id}) }}"/>{{ technology.name }}
        </a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if application.links.count %}
    <div class="section">
    <h3>{{ 'Links' | trans }}</h3>
    <ul>
    {% for link in application.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

</div>
