{% extends "KailabFrontendBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - {{ 'Applications' | trans }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    'bundles/kailabfrontend/js/jquery-ui.js'
    'bundles/kailabfrontend/js/jquery-smooth_div_scroll.js'
    'bundles/kailabfrontend/js/jquery-cycle.js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/kailabfrontend/css/screenshots.css'
        'bundles/kailabfrontend/css/applications.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

<div class="maincontent">
    <div id="apps_scroll">
        <div class="hotspot_left"></div>
        <div class="hotspot_right"></div>
        <div class="wrapper">
            <ul id="apps" class="scrollable">
                {% for app in apps %}
                <li class="screenshot_small {{ app.screenshots.first.type }}_type" title="{{ app.name }}" id="app_{{ app.id }}_item">
                    {% if app.screenshots.count %}
                    <div class="screen">
                        <img src="{{ path('frontend_screenshot_small',{'id':app.screenshots.first.id}) }}" alt="{{ app.name }}"/>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="app">
    </div>

    {% for app in apps %}
    <div id="app_{{ app.id }}" class="app" style="display: none;">
        <div class="side">
        <div class="previous">
        </div>
        <div class="next">
        </div>
        <div class="nav">
        </div>
        <ul class="screenshots">
            {% for screenshot in app.screenshots %}
            <li class="screenshot_big {{ screenshot.type }}_type">
                <div class="screen">
                    <img src="{{ path('frontend_screenshot_big', {'id':screenshot.id}) }}" alt="{{ app.name }}"/>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="main">
            <h2>{{ app.name }}</h2>
            <div class="description">
                {{ app.description | raw }}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#apps_scroll').smoothDivScroll({
        scrollingHotSpotLeft:   ".hotspot_left",
        scrollingHotSpotRight:  ".hotspot_right",
        scrollWrapper:          ".wrapper",
        scrollableArea:         ".scrollable",
        autoScroll:             "onstart" , 
        autoScrollDirection:    "backandforth", 
        autoScrollStep:         1, 
        autoScrollInterval:     15, 
        visibleHotSpots:        "always"
    });
    $('#apps li').click(function(){
        var id = $(this).attr('id').replace('_item','');
        var app = $('#app').fadeOut(function(){
            app.html($('#'+id).clone().show()).fadeIn();
            var nav = app.find('.nav');
            var prev = app.find('.previous');
            var next = app.find('.next');
            app.find('.screenshots').cycle({
                fx:     'fade',
                pager:  nav, 
                prev:   prev, 
                next:   next, 
            });
        });
    });
});
</script>

{% endblock %}


