{% extends "KailabFrontendBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/kailabfrontend/css/screenshots.css'
        'bundles/kailabfrontend/css/applications.css'
        'bundles/kailabfrontend/css/paginator.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block title %}
    {{ parent() }} - {% block subtitle %}{{ 'Applications' | trans }}{% endblock %}
{% endblock %}

{% block content %}
<ul id="app_icons">
{% for appli in apps %}
<li>
    {% block app %}
    <a href="{{ path('frontend_application', {'slug':appli.slug}) }}">
        {% if appli.screenshot %}
        <img src="{{ path('frontend_screenshot_item',{'id':appli.screenshot.id}) }}" />
        {{ appli.name }}
        {% else %}
        <span class="app_item_title">{{ appli.name }}</span>
        {% endif %}
    </a>
    {% endblock %}
</li>
{% endfor %}
{% endblock %}
