{% extends "KailabFrontendBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} - {% block subtitle %}{{ 'Applications' | trans }}{% endblock %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    'bundles/kailabfrontend/js/jquery-ui.js'
    'bundles/kailabfrontend/js/jquery-cycle.js'
    'bundles/kailabfrontend/js/jquery-reflection.js'
    'bundles/kailabfrontend/js/jquery-lightbox.js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/kailabfrontend/css/screenshots.css'
        'bundles/kailabfrontend/css/applications.css'
        'bundles/kailabfrontend/css/lightbox.css'
        'bundles/kailabfrontend/css/paginator.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

{% if not apps %}

    <div class="maincontent">
        {% block empty %}
        <p>{{ 'There are no applications at this moment.' | trans }}</p>
        {% endblock %}
    </div>

{% else %}

    <ul id="app_icons" style="display: none;">
        {% for appli in apps %}
        <li title="{{ appli.name }}" class="{{ appli.orientation }}_orientation">
            <a href="#{{ appli.slug }}">
            {% block app_icon %}
            {% if appli.screenshot %}
            <img src="{{ path('frontend_screenshot_item',{'id':appli.screenshot.id}) }}" alt="{{ appli.name }}"/>
            {% else %}
            <span class="app_item_title">{{ appli.name }}</span>
            {% endif %}
            {% endblock %}
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="loading loadingcontent">
        <img src="{{ asset('bundles/kailabfrontend/images/loading.gif') }}" />
        {% block loading %}
        <p>{{ 'Loading applications...' | trans }}</p>
        {% endblock %}
    </div>

    <div id="apps">
    {% if more is defined and more %}
        {% block more %}
        <a class="more_apps" href="{{ path('frontend_applications') }}">
            <img src="{{ asset('bundles/kailabfrontend/images/more.png') }}" />
            {{ 'See all applications' | trans }}
        </a>
        {% endblock %}
    {% endif %}

    {% for appli in apps %}
        {% block app %}
        {% include 'KailabFrontendBundle:Applications:_app.html.twig' with {'appli': appli, 'hidden': true} %}
        {% endblock %}
    {% endfor %}
    </div>

{% endif %}

{% endblock %}

{% block footer %}
{{ parent() }}
<script type="text/javascript">

var get_anchor = function(){
    var url = location.href;
    var p = url.indexOf('#');
    return p < 0 ? null : url.substr(p+1);
}

var cycle_screenshots = function(){
    var app = $(this);
    if(app.data('cycle')){
        return false;
    }
    var app = $(this);
    var nav = app.find('.nav');
    var prev = app.find('.previous');
    var next = app.find('.next');
    app.find('.screenshots').cycle({
        fx:     'fade',
        pager:  nav, 
        prev:   prev, 
        next:   next
    });
    app.data('cycle',true);
    return true;
};

var show_app = function(id){
    var app = $('a[name='+id+']').closest('.app');
    var icon = $('#app_icons a[href=#'+id+']');
    var icons = $('#app_icons a');
    var show = function(){
        app.find('.screenshots').show().cycle();
        app.fadeIn(function(){
            icons.closest('li').removeClass('selected');
            icon.closest('li').addClass('selected');
        })
        cycle_screenshots.call(app);
        app.find('.screenshots a').lightBox({
            imageLoading: {{ asset('bundles/kailabfrontend/images/loading.gif') | trans | json_encode | raw }},
            imageBtnClose: {{ asset('bundles/kailabfrontend/images/delete.png') | trans | json_encode | raw }},
            imageBtnPrev: {{ asset('bundles/kailabfrontend/images/lightbox_prev.png') | trans | json_encode | raw }},
            imageBtnNext: {{ asset('bundles/kailabfrontend/images/lightbox_next.png') | trans | json_encode | raw }},
            txtImage: {{ 'Image' | trans | json_encode | raw }},
            txtOf:  {{ 'of' | trans | json_encode | raw }}
        })
    };
    if(!$('.app:visible').fadeOut(show).length){
        show();
    }
}

$(window).load(function(){
    $('#app_icons a').click(function(){
        var id = $(this).attr('href').substr(1);
        show_app(id);
        return false;
    });

    $('#app_icons img').reflect({
        height: 0.2,
        opacity: 0.3
    });

    var anchor = get_anchor();
    $('.loading').fadeOut(function(){
        $('#app_icons').fadeIn(function(){
            if(anchor){
                show_app(anchor);
            }
        });
    });

});
</script>

{% endblock %}


