{% if pager.last > 1 %}
<div class="paginator">
    {% if pager.current > 1 %}
        <a class="previous" href="{{ path(route, {'page':pager.current-1}) }}">{{ 'Previous' | trans }}</a>
    {% endif %}
    {% if pager.current < pager.last %}
        <a class="next" href="{{ path(route, {'page':pager.current+1}) }}">{{ 'Next' | trans }}</a>
    {% endif %}
    <ul class="nav pages">
    {% for page in pager.pages %}
        {% if page == pager.current %}
        <li class="current">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ path(route, {'page':page}) }}">{{ page }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
