<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Kailab{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        {% javascripts
            'bundles/kailabfrontend/js/jquery.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
            'bundles/kailabfrontend/css/layout.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin&v2' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <div id="body_wrapper">
            <div id="header_wrapper">
                <div id="header">
                    <div id="logo">
                         <a href="{{ path('frontend_homepage') }}">
                            <img src="{{ asset('bundles/kailabfrontend/images/logo.png') }}" alt="Kailab" title="Kailab"/>
                        </a>
                    </div>

                    <ul id="topmenu">
                        <li><a href="{{ path('frontend_faq') }}">{{ "Faq's" | trans }}</a></li>
                        <li><a href="{{ path('frontend_blog') }}">{{ "Blog" | trans }}</a></li>
                        <li><a href="{{ path('frontend_contact') }}">{{ "Contact" | trans }}</a></li>
                    </ul>
                    <ul id="languages">
                        {% for code,name in locale_helper.locales %}
                        {% if code == locale_helper.code %}
                        <li class="current">
                        {% else %}
                        <li>
                        {% endif %}
                        <a href="{{ locale_helper.path(code) }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul id="mainmenu">
                        <li><a href="{{ path('frontend_homepage') }}" >{{ 'Home' | trans }}</a></li>
                        <li><a href="{{ path('frontend_technologies_showcase') }}" >{{ 'Technology' | trans }}</a></li>
                        <li><a href="{{ path('frontend_applications_showcase') }}" >{{ 'Applications' | trans }}</a></li>
                        <li><a href="{{ path('frontend_videogames_showcase') }}" >{{ 'Videogames' | trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div id="main_wrapper">
                <div id="main_gradient">
                    <div id="main">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div id="sitemap_wrapper">
                    <div id="sitemap_separator">
                        <ul id="sitemap">
                            <li class="section">
                                <h3>{{ 'Technology' | trans }}</h3>
                                <ul>
                                    {% for tech in frontend_helper.sitemap_technologies %}
                                    <li><a href="{{ path('frontend_technology', {'slug': tech.slug}) }}">{{ tech.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="section">
                                <h3>{{ 'Applications' | trans }}</h3>
                                <ul>
                                    {% for appli in frontend_helper.sitemap_applications %}
                                    <li><a href="{{ path('frontend_application', {'slug': appli.slug}) }}">{{ appli.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="section">
                                <h3>{{ 'Videogames' | trans }}</h3>
                                <ul>
                                    {% for game in frontend_helper.sitemap_videogames %}
                                    <li><a href="{{ path('frontend_videogame', {'slug': game.slug}) }}">{{ game.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="section">
                                <h3>{{ 'Company' | trans }}</h3>
                                <ul>
                                    <li><a href="{{ path('frontend_contact') }}">{{ "Contact us" | trans }}</a></li>
                                    <li><a href="{{ path('frontend_blog') }}">{{ "Blog" | trans }}</a></li>
                                    <li><a href="{{ path('frontend_faq') }}">{{ "Faq's" | trans }}</a></li>
                                    <li><a href="{{ path('frontend_legal') }}">{{ "Legal" | trans }}</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_wrapper">
            <div id="footer">
                {% block footer %}
                <div id="footer_social">
                    <span class="prefix">{{ 'Follow us on...' | trans }}</span>
                    <a href="http://www.facebook.com/{{ frontend_helper.facebook }}" target="_new">
                        <img src="{{asset('bundles/kailabfrontend/images/footer_facebook.png')}}" alt="Facebook"/>
                    </a>
                    <a href="http://www.twitter.com/#!/{{ frontend_helper.twitter }}" target="_new">
                        <img src="{{asset('bundles/kailabfrontend/images/footer_twitter.png')}}" alt="Twitter"/>
                    </a>
                </div>
                <ul id="bottommenu">
                    <li><a href="{{ path('frontend_about') }}">{{ 'About us' | trans }}</a></li>
                    <li><a href="{{ path('frontend_contact') }}">{{ 'Contact' | trans }}</a></li>
                    <li><a href="{{ path('frontend_legal') }}">{{ 'Legal' | trans }}</a></li>
                    <li><a href="{{ path('frontend_faq') }}">{{ "Faq's" | trans }}</a></li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </body>
</html>

