{% extends "KailabBackendBundle::form.html.twig" %}

{% block form_title %}
{% if entity.id %}
{{ 'Editing Post' | trans }}
{% else %}
{{ 'New Post' | trans }}
{% endif %}
{% endblock %}

{% block form_translation %}
    {{ form_row(trans.title, {'attr':{'size':40}}) }}
    {{ form_widget(trans.content, {'attr':{'class':'wysiwyg','rows':10,'cols':50}}) }}
    {{ form_rest(trans) }}
{% endblock %}

{% block form_rest %}
    <div class="form_row">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        <div class="form_row_comment">
            <img src="{{ path('backend_blog_post_image', {'id':entity.id}) }}" />
        </div>
        {{ form_errors(form.image) }}
    </div>
    {{ parent() }}
{% endblock %}


